/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT [session_id] AS [session_id]
      ,[blocked_by] AS [blocked_by]
      ,[login] AS [login]
      ,[host_name] AS [host_name]
      ,[program_name] AS [program_name]
	  ,REPLACE(REPLACE(REPLACE(REPLACE(CAST([Query] AS VARCHAR(300)), CHAR(9), ''), CHAR(10), ''), CHAR(13), ''),';','') AS [Query]
      ,[Command] AS [Command]
      ,[database] AS [database]
      ,[last_wait_type] AS [last_wait_type]
      ,[wait_time_sec] AS [wait_time_sec]
      ,[last_batch] AS [last_batch]
      ,[login_time] AS [login_time]
      ,[status] AS [status]
      ,[cpu] AS [cpu]
      ,[capture_time]  AS [capture_time]
      ,[ID_log] AS [ID_log]
  FROM [DBManager].[dbo].[log_locks]
  WHERE [capture_time] >= '2023-01-17 08:00:00.000'
  AND [wait_time_sec] >= 5